p {
    color: red;
    border: 10px solid #F99058;
    font-family: Arial;
    font-size: 50px;
    padding: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#texto_unico {
    color: blue;
    border: 0px;
    margin-top: 100px;
}

#titulo1 {
    text-align: center;
    border: 1px solid;
    width: 500px;
}

#div1 {
    /* Estos dos atributos centran todo lo que está en el div */
    display: flex;
    justify-content: center;
}

#moto {
    width: 200px;
    /*
    Si se utilizan los dos, se puede deformar la imagen
    De preferencia utilizar sólo uno de los dos (width o height)

    heigth: 100px
    */
}

table, th, td {
    border: 1px solid red;
}


body {
    background-color: rgb(204, 240, 235);
    /*background-image: url("./imgs/moto.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    */
    /*Deja fija la imagen para que no se mueva al desplazar la página*/
    background-attachment: fixed;
}


#tablaB {
    width: 800px;
}
